body {
    padding-top: 70px;
}

.container {
    width: 65%;
    text-align: justify;
}

h3, h2 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

.tables p{
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

th, td{
    border:1px solid #d3d8dd;
    word-wrap: break-word;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

th {
    background-color: #dee2e6;
    color: #40403f;
}

.wcimg {
    display: block;
    max-width: 750px;
    max-height: 500px;
    width: 100%;
    margin: 0px auto;
}

.caption {
    text-align: center;
    font-style: italic;
}